.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  height: 75px;
  padding: 20px;
}

.messageText {
  text-align: left;
}

.lineBreak {
  white-space: pre-line;
}